# http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Use 4 spaces for the Python and HTML files
[*.py, *.html]
indent_size = 4

# The JSON files contain newlines inconsistently
[*.json]
insert_final_newline = ignore
indent_size = 3


[*.md]
trim_trailing_whitespace = false
